body{
  margin: 0;
}
header{
  background-color: #343A40;
  color: white;
  text-align: center;
}
.options_header{
  text-align:center;
  line-height: 300%;
}
header h3{
margin-top: 0;
line-height: 250%;
}
.contact p{
  margin: 10px;
}
.contact{
  margin:  2% 7%;
}
.whatWeDo{
  margin: 2% 7%;;
}
header{
  height: 3em;
}
.card_tittle img{
  width: 100% ;
  height: auto;
}
.container_cards{
  text-align: center;
}
footer{
  text-align: center;
  background-color: #343A40;
  color: white;
}
button{
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 7%;
  padding: 1%;
  margin-bottom: 5%;
}
